.chat {
  padding: 40px;
  list-style: none;
  margin: 0; }

.choices {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0; }

.choice {
  text-align: center;
  font-size: 36px;
  padding: 0;
  width: 94%;
  margin: 0 1%;
  border: 10px solid #424242;
  border-radius: 6px; }

.msg {
  display: block;
  font-size: 64px;
  text-align: right;
  width: 100%; }
  .msg--mine {
    text-align: left; }
