.flex {
  display: flex; }
  .flex--aic {
    align-items: center; }
  .flex--jsa {
    justify-content: space-around; }
  .flex--jsb {
    justify-content: space-between; }
  .flex--jcc {
    justify-content: center; }

html,
body,
.app {
  margin: 0;
  height: 100vh;
  /* needed for proper layout */ }

body {
  font-family: 'Montserrat', sans-serif; }

.app {
  display: flex;
  background-color: #000;
  flex-direction: column; }

main {
  flex: 1; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 0; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn--top {
    border: none;
    font-size: 32px;
    background: none; }
  .btn--info, .btn--round {
    border: 10px solid #ccc;
    border-radius: 50%;
    line-height: 0; }
  .btn--info {
    height: 70px;
    width: 70px;
    padding-bottom: 10px;
    font-size: 48px; }
  .btn--round {
    height: 100px;
    width: 100px;
    font-size: 54px;
    padding-top: 10px; }
