@import url("https://fonts.googleapis.com/css?family=Nunito:300,700");
.flex {
  display: flex; }
  .flex--aic {
    align-items: center; }
  .flex--jsa {
    justify-content: space-around; }
  .flex--jsb {
    justify-content: space-between; }
  .flex--jcc {
    justify-content: center; }

html,
body,
.app {
  margin: 0;
  height: 100vh;
  /* needed for proper layout */ }

body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px; }

a {
  text-decoration: none; }
  a:visited {
    color: #000; }

.app {
  display: flex;
  background-color: #1d212b;
  flex-direction: column; }

main {
  flex: 1; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 0.3rem; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn--top {
    border: none;
    font-size: 32px;
    background: none; }
  .btn--info, .btn--round {
    border: 10px solid #ccc;
    border-radius: 50%;
    line-height: 0; }
  .btn--info {
    height: 7vh;
    width: 7vh;
    padding-bottom: 10px;
    font-size: 48px; }
  .btn--round {
    height: 10vh;
    width: 10vh;
    font-size: 42px;
    padding-top: 10px; }
